.todoTask {
  .todoTask__item {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .todoTask__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &.is-closed {
      display: none;
    }
  }

  .todoTask__check {
    display: inline-block;
    height: 28px;
    width: 28px;
    cursor: pointer;
  }

  .todoTask__label {
    border: none;
    padding: 6px;
    flex-grow: 1;
    &:focus-visible {
      outline: 0.5px solid;
    }
    &:hover {
      outline: rgb(221, 221, 221) 0.5px solid;
    }
  }

  .todoTask__dateLabel {
    border: none;
    padding: 6px;
    cursor: pointer;
    &:focus-visible {
      outline: 0.5px solid;
    }
    &:hover {
      outline: rgb(221, 221, 221) 0.5px solid;
    }
  }

  .todoTask__delete {
    background: url(/trash.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    height: 28px;
    width: 28px;
    cursor: pointer;
  }
}
